
.popup {
 	background: transparent url(shadow.png) bottom right;
	padding-right: 4px;
	padding-bottom: 4px;
	display: none;
	position: absolute;
}

.popup ul {
	background: #f1f1f1;
	border: 1px solid #000;
	list-style: none;
	padding-left: 0px !important;
	margin: 0px !important;
	padding: 0;
}

.popup li {
}

.popup a:hover {
 	background: #fff;
}

.popup a {
	padding: 5px 10px 5px 10px;
	display: block;
	text-decoration: none;
}

#ajax_post_edit #pun_bbcode_bar {
	padding: 0;
}



